.movie_list_container {
    width: 100%;
    margin: 0;
    padding: 2vw;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    z-index: 1;
    background-color: #EEEAE7;
}

.movie_list_wrapper {
    position: relative;
    overflow: hidden;
}

.movie_list {
    display: flex;
    height: 40vh;
    align-items: center;
    transform: translateX(0);
    transition: all 0.8s ease-in-out;
}

.movie_list_item_img {
    width: 23vw;
    height: 30vh;
    object-fit: cover; 
    transition: all 0.4s ease-in-out;
    border-radius: 20px;
}

.movie_list_item {
    margin-right: 1vw;
    position: relative;
    z-index: 0;
}

.movie_list_item:hover .movie_list_item_img {
    transform: scale(1.2);
    margin: 0 3vw;
    opacity: 0.5;
}

.movie_list_item:hover .movie_list_item_title,
.movie_list_item:hover .movie_list_item_desc,
.movie_list_item:hover .movie_list_item_button{
    opacity: 1;
}

.movie_list_item_title {
    background-color: gray;
    padding: 0 1vw;
    font-size: 2vw;
    font-weight: 900;
    color: whitesmoke;
    position: absolute;
    top: 10%;
    left: 2vw;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.movie_list_item_desc {
    background-color: gray;
    padding: 1vw;
    font-size: 0.7vw;
    color: whitesmoke;
    position: absolute;
    top: 30%;
    left: 2vw;
    width: 10vw;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.movie_list_item_button {
    padding : 1vw;
    background-color: black;
    color: whitesmoke;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 1vw;
    left: 2vw;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.arrow {
    font-size: 5vw;
    position: absolute;
    top: 15vh;
    right: 2vw;
    opacity: 0.5;
    color: lightgray;
    cursor: pointer;
}